/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
font-family: 'Courier New', Courier, monospace;
text-align: center;

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
